<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RestoKu</title>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <meta name="theme-color" content="#FFFFFF" />
    <link rel="icon" href="./favicon.png" />
    <meta name="description" content="Sebuah Portal Pemersatu Restoran" />
    <link rel="manifest" href="./app.webmanifest"/>
  </head>
  <body>
    <div id="loading-screen">
      <p>Loading...</p>
    </div>
    <a class="skip" href="#main">ke Konten Utama</a>
    <header>
      <h1 class="logo"><a href="/">RestoKu</a></h1>
      <button id="hamburger">☰</button>
      <nav id="navBar" class="draw">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/liked">Favorite</a></li>
          <li>
            <a href="https://www.instagram.com/leewestlee_/" target="_BLANK"
            rel="noopener noreferrer">About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>

    
    <main id="main" tabindex="0">
    </main>

    <restoku-footer></restoku-footer>
  </body>
</html>
