@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

.logo {
  font-family: "Dancing Script", cursive;
  font-size: 28pt;
}

img {
  display: block;
}

header {
  position: sticky;
  top: 0;
  background-color: rgb(41, 41, 41);
  display: flex;
  padding-left: 2rem;
  align-items: center;
}

header h1 {
  margin: 0;
  text-align: center;
}

header h1 a{
  text-decoration: none;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  overflow: hidden;
}

nav li a {
  display: block;
  color: white;
  padding: 1rem;
  text-decoration: none;
  transition: 0.1s;
}

nav li a:hover {
  background-color: black;
}

.jumbo {
  background-image: url("../public/images/heros/hero-image_1.jpg");
  background-color: rgb(59, 59, 59);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: rgb(255, 255, 255);
}

.jumboContent {
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.restoran {
  text-align: center;
  padding: 2rem;
}

.kontenRestoran {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.cardRestoran {
  border: 2px solid black;
  width: 30rem;
  text-align: justify;
  transition: 0.1s;
}

.cardRestoran span{
  background-color: black;
  color: white;
  padding: 9px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  border: none;
  transition: 0.1s;
  font-size: 10pt;
  margin-bottom: 3rem;
}

.cardRestoran span:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.cardRestoran:hover {
  box-shadow: 5px 6px #363636;
  background-color: rgb(233, 233, 233);
}

.cardRestoran:active {
  box-shadow: 0 0 #000000;
  background-color: rgb(83, 83, 83);
}

.cardRestoran a {
  text-decoration: none;
  color: black;
}

.cardRestoran img {
  width: 30rem;
  height: 20rem;
}

.kontenCard {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
}

footer {
  background-color: rgb(20, 20, 20);
  color: white;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 2rem;
}

#hamburger {
  display: none;
}

.restoran h1 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.skip {
  position: absolute;
  top: -40rem;
  background-color: #2b74af;
  color: white;
  padding: 0.8rem;
  transition: 0.1s;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  z-index: 100;
}

.skip:focus {
  top: 5rem;
}

.skip:hover {
  background-color: #1b4568;
  text-decoration: none;
}

.skip:active {
  background-color: black;
}

.details {
  display: none;
}

.detailResto {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailResto h1{
  margin-left: 2rem;
  margin-right: 2rem;
}

.detailResto img {
  width: 70%;
  height: auto;
}

.kontenDetail {
  text-align: center;
  margin-left: 8rem;
  margin-right: 8rem;
}

.kontenDetail ul{
  display: inline-block;
  width: 10rem;
  text-align: left;
}

.like {
  width: 3rem;
  height: 3rem;
  background-color: black;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  border-radius: 100%;
  border: 0;
  font-size: 18pt;
  color: white;
  cursor: pointer;
  transition: 0.1s;
}

.like:active {
  width: 2rem;
  height: 2rem;
}

.like:hover {
  width: 3.2rem;
  height: 3.2rem;
}

.reviewResto {
  text-align: left;
}

.cardReview {
  border: 1px solid black;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.tambahReview{
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  margin-right: 10rem;
}

.formReview{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
}

.formReview input{
  height: 50px;
  font-size: 14pt;
}
.tambahReview button{
  border: none;
  background-color: black;
  color: white;
  margin-top: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 14pt;
  transition: 0.1s;
}

.tambahReview button:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

#loading-screen {
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-size: 24pt;
}

@media screen and (max-width: 1200px) {
  header {
    justify-content: space-between;
  }

  .cardRestoran img {
    width: 100%;
    height: auto;
  }

  .cardRestoran {
    width: 60rem;
  }

  .cardRestoran:hover {
    box-shadow: none;
  }

  .detailResto {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .detailResto img {
    width: 80%;
    height: auto;
  }
  
  .kontenDetail {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  .tambahReview{
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  .tambahReview button{
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  nav ul {
    display: block;
    background-color: rgb(41, 41, 41);
    text-align: center;
    padding: 0;
    position: absolute;
    top: 4.25rem;
    left: 0;
    right: 0;
  }

  #hamburger {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20pt;
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border: none;
    transition: 0.2s;
    background-color: rgb(61, 61, 61);
    order: 3;
  }

  #hamburger:active {
    background-color: black;
  }

  .draw {
    display: none;
  }

  .cardRestoran {
    border: 0;
    border-bottom: 2px dotted black;
    width: 100%;
  }

  .restoran {
    padding: 0;
  }

  .kontenRestoran {
    padding: 0;
  }

  .detailResto {
    margin-left: 0;
    margin-right: 0;
  }
  
  .detailResto img {
    width: 100%;
    height: auto;
  }

  .kontenDetail {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .cardReview {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .tambahReview{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 1rem;
  }
}